@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


#__next {
  height: 100%;
}

@theme {
  /* Define primary colors */
  --color-primary-50: #eff6ff;  /* blue-50 */
  --color-primary-100: #dbeafe; /* blue-100 */
  --color-primary-200: #bfdbfe; /* blue-200 */
  --color-primary-300: #93c5fd; /* blue-300 */
  --color-primary-400: #60a5fa; /* blue-400 */
  --color-primary-500: #3b82f6; /* blue-500 */
  --color-primary-600: #2563eb; /* blue-600 */
  --color-primary-700: #1d4ed8; /* blue-700 */
  --color-primary-800: #1e40af; /* blue-800 */
  --color-primary-900: #1e3a8a; /* blue-900 */


  /* Define neutral colors */
  --color-neutral-900: #111827; /* corresponds to gray-900 */
}
